# Database
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""

# Email (Resend)
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@langkahhijau.id"
ADMIN_EMAIL="admin@langkahhijau.id"

# App
NEXT_PUBLIC_SITE_URL="http://localhost:3000"